* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #547A1F;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

section.hero {
  position: relative;
  z-index: 1;
  display: flex;
  height: 600px;
  background-image: url('/image/home/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-inline: 80px;

  .cube {
    position: absolute;
    right: 0;
    top: 23%;
  }

  .shade {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 18.21%, rgba(0, 0, 0, 0.70) 37.8%, rgba(0, 0, 0, 0.00) 100%);
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-block: auto 90px;

    .content-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      p {
        color: #E0E0E0;
        font-weight: 500;
        line-height: 24px;
        max-width: 359px;

        span {
          background-color: red;
        }
      }

      button {
        max-width: 211px;
      }
    }

    .content-right {
      h1 {
        max-width: 599px;
        color: #FFF;
        font-family: General Sans Variable;
        font-size: 56px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: -0.56px;

        span {
          color: #6FA22D;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section.hero {
    padding-inline: 40px;

    .cube {
      top: 0;
    }

    .content {
      flex-direction: column;
      gap: 40px;
      margin-block-end: 70px;

      .content-left {
        order: 2;
      }

      .content-right {
        order: 1;

        h1 {
          font-size: 52px;
          line-height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section.hero {
    padding-inline: 20px;
    min-height: 800px;
    height: auto;

    .content {
      margin-block-end: 110px;

      .content-right {
        h1 {
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.4px;

          .break-for {
            display: none;
          }
        }
      }
    }
  }
}